<ion-view view-title="Contactanos">
  <ion-content>
    <!--<h1>Browse</h1>-->
      
      <div class="list card">
          <div class="item item-body">
              <h2>Agencia Las Palmas</h2>
              <p>Contact Center : 2561-9999 </p>
              <p>Oficinas Administrativas : 2504-8080 </p>
              <p>Direcci&oacuten: Bo. Las Palmas, 20-27 calle, 3ra. Avenida S.E.</p>
          </div>

          <div class="item item-body">
              <h2>Agencia Plaza Cristal</h2>
              <p>Direcci&oacuten: Edificio Plaza Cristal local 5A Bo. Guamilito 10 Ave. 1-2 calle, Frente a Nova Prisa</p>
          </div>

          <div class="item item-body">
              <h2>Agencia Cofrad&iacutea</h2>
              <p>Direcci&oacuten: Bo. El Centro Frente al K&iacutender Lila Luz de Maradiaga 2 cuadras arriba del parque</p>
          </div>
          
          <div class="item item-body">
              <h2>Agencia Mall Megaplaza</h2>
              <p>Direcci&oacuten: Mall Megaplaza, Salida a La Lima</p>
          </div>

      </div>

      
  </ion-content>
</ion-view>
