﻿<ion-view view-title="Consulta de Saldo">
    <ion-content>
        <!--<div class="list">
            <label class="item item-input">
                <span class="input-label">Clave</span>
                <input type="text">
            </label>
        </div>-->

        <!--<button class="button button-full button-positive">
            Consultar
        </button>-->

        <!--<div class="list">
            <label class="item item-input">
                <span class="input-label">No. Factura Pendientes</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Emisi&oacuten de pr&oacutexima factura</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Total General</span>
                <input type="text" readonly>
            </label>
            
        </div>-->
        
        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Clave">
                </label>
                <button class="button button-small button-positive">
                    Buscar
                </button>
            </div>

        </div>

        <div class="row">
            <div class="col">No. Factura Pendientes</div>
            <div class="col">
                <input type="text" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col">Emisi&oacuten de pr&oacutexima factura</div>
            <div class="col">
                <input type="text" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col">Total General</div>
            <div class="col">
                <input type="text" readonly>
            </div>
        </div>

    </ion-content>
</ion-view>