﻿<ion-view view-title="Sugerencias o Preguntas">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nombres</span>
                <input type="text" placeholder="Javier Lopez">
            </label>
            
            <label class="item item-input item-stacked-label">
                <span class="input-label">Tel&eacutefono</span>
                <input type="tel" placeholder="25619999">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Correo</span>
                <input type="email" placeholder="correo@asp.com">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Sugerencia</span>
                <textarea placeholder="Sugerencia" rows="8">
                </textarea>
            </label>

        </div>
        

        <button class="button button-full button-positive">
            Enviar
        </button>

        
    </ion-content>
</ion-view>