﻿<ion-view view-title="Factura">
    <ion-content>
        <!--<div class="list">
            <label class="item item-input">
                <span class="input-label">Clave</span>
                <input type="text">
            </label>
        </div>

        <button class="button button-full button-positive">
            Consultar
        </button>-->

        
        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Clave">
                </label>
                <button class="button button-small button-positive">
                    Buscar
                </button>
            </div>

        </div>

        <!--<div class="list">
            <label class="item item-input">
                <span class="input-label">No. Factura</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">No. de Medidor</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Saldo Servicios</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Saldo Multas</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Saldo Letras</span>
                <input type="text" readonly>
            </label>
        </div>-->

        
        <div class="row">
            <div class="col">No. Factura</div>
            <div class="col">
                <input type="text" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col">No. de Medidor</div>
            <div class="col">
                <input type="text" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col">Saldo Servicios</div>
            <div class="col">
                <input type="text" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col">Saldo Multas</div>
            <div class="col">
                <input type="text" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col">Saldo Letras</div>
            <div class="col">
                <input type="text" readonly>
            </div>
        </div>

    </ion-content>

</ion-view>