﻿<ion-view view-title="Gestión">
    <ion-content>
        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
            <script src="../js/controllers.js"></script>
        </head>
        <!--<div class="list">
            <label class="item item-input">
                <span class="input-label">No. Gesti&oacuten</span>
                <input type="text">
            </label>
        </div>

        -->

        <!--<div class="list">
            <label class="item item-input">
                <span class="input-label">No. Gesti&oacuten</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Tipo de Reclamo</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Fecha de Reclamo</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Estado de Gesti&oacuten</span>
                <input type="text" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Fecha de Resoluci&oacuten</span>
                <input type="text" readonly>
            </label>
        </div>-->

        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input name="NumeroGestion" id="NumeroGestion_Id" type="text" placeholder="No. Gestión">
                </label>
                <button class="button button-small button-positive" ng-click="consultaGestion()">
                    Buscar
                </button>
            </div>

        </div>

        <div class="row">
            <div class="col">
                No. Gesti&oacuten
            </div>
            <div class="col">
                <input name="NumeroGestionInput" type="text" value="{{idOrden}}" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col">Tipo de Reclamo</div>
            <div class="col">
                <input name="TipoReclamo" type="text" value="{{Gestion}}" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col">Fecha de Reclamo</div>
            <div class="col">
                <input name="FechaGenero" type="text" value="{{Fecha}}" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col">Estado de Gesti&oacuten</div>
            <div class="col">
                <input name="EstadoGestion" type="text" value="{{Estado}}" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col">Fecha de Resoluci&oacuten</div>
            <div class="col">
                <input name="FechaResolucion" type="text" value="{{FechaCierre}}" readonly>
            </div>
        </div>

        
        
        <!--{{servicio.Data.data[0].NIDREGORD}}
        <p>SEPERANDOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</p>
        {{servicio}}-->

    </ion-content>
</ion-view>