<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        
        <ion-content>
            
            <!--<img class="full-image" src="../../resources/android/img/LogoCircular.png">-->
            <!--<img class="full-image" src="/android_asset/www/img/LogoCircular.png">-->

            <!--<ion-list>
                <ion-item menu-close ng-click="login()">
                  Login
                </ion-item>
                <ion-item menu-close href="#/app/playlists">
                    <i class="icon ion-search"></i>
                    Consultas
                </ion-item>
                <ion-item menu-close href="#/app/search">
                    <i class="icon ion-home"></i>
                    Quienes Somos
                </ion-item>
                <ion-item menu-close href="#/app/browse">
                    <i class="icon ion-ios-telephone"></i>
                    Contactanos
                </ion-item>
            </ion-list>-->

            <div class="list">
                <a class="item item-icon-left" menu-close href="#/app/playlists">
                    <i class="icon ion-search"></i>
                    Consultas
                </a>
                <a class="item item-icon-left" menu-close href="#/app/search">
                    <i class="icon ion-ios-home-outline"></i>
                    Quienes Somos
                </a>
                <a class="item item-icon-left" menu-close href="#/app/browse">
                    <i class="icon ion-ios-telephone"></i>
                    Contactanos
                </a>
            </div>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>
